<h3>User Infromation in Reactive Forms</h3>

<form [formGroup]="userDetails">
  <input type="text" formControlName="name" />

  <input type="text" formControlName="username" />
  <input type="text" formControlName="mobileNumber" />
  <div formGroupName="address">
    <input type="text" formControlName="flatName" />

    <input type="text" formControlName="colonyName" />
    <input type="text" formControlName="CityName" />
  </div>
  <div formArrayName="contactList">
    <div
      *ngFor="
        let contact of userDetails.get('contactList').controls;
        let i = index
      "
      [formGroupName]="i"
    >
      <input type="text" formControlName="name" />

      <input type="text" formControlName="mobileNumber" />
    </div>
    <button (click)="addToContact()">Add Field</button>
  </div>
</form>
<div>
  {{ userDetails.value | json }}
</div>
